build/
temp/
**/**.vs
**/**.sln
**/**.vcxproj
**/**.vcxproj.filters
**/**.vcxproj.user
**/**.csproj
**/**.csproj.user
**/**_runtimedependencies.txt
code/build_scripts/output
code/build_scripts/obj
code/build_scripts/Properties
compiled_data
code/.cache
code/project_files
code/paw6.rdbg
code/compile_commands.json
tools_build
imgui.ini

**/**.fdb